############################################################
# KUBERNETES CONFIG 
############################################################
export CLI=kubectl
export DOCKER_REGISTRY_URL=192.168.1.143:5000
export DOCKER_REGISTRY_PATH=$DOCKER_REGISTRY_URL
export TEST_APP_NAMESPACE_NAME=testapp
export CONJUR_SERVICEACCOUNT_NAME=conjur-cluster
# the Authenticator ID uniquely identifies the authn endpoint for this cluster
export AUTHENTICATOR_ID=dev-k8s
export AUTHENTICATOR_CLIENT_IMAGE=cyberark/conjur-authn-k8s-client:latest
export SEED_FETCHER_IMAGE=seed-fetcher:latest
export CONJUR_FOLLOWER_COUNT=1
export CONJUR_CONFIG_MAP=conjur-config
export CONJUR_AUTHENTICATORS=authn,authn-k8s/$AUTHENTICATOR_ID
export APP_CONFIG_MAP=$TEST_APP_NAMESPACE_NAME-config
# Login name for Conjur Followers
export CONJUR_CLUSTER_LOGIN="host/conjur/authn-k8s/$AUTHENTICATOR_ID/apps/$CONJUR_NAMESPACE_NAME/service_account/$CONJUR_SERVICEACCOUNT_NAME"
