############################################################
# KUBERNETES CONFIG 
############################################################
export CLI=kubectl
export TEST_APP_NAMESPACE_NAME=newtest
export CONJUR_SERVICEACCOUNT_NAME=conjur-cluster
# the Authenticator ID uniquely identifies the authn endpoint for this cluster
export AUTHENTICATOR_ID=dev
export AUTHENTICATOR_CLIENT_IMAGE=cyberark/conjur-authn-k8s-client:latest
export CONJUR_FOLLOWER_COUNT=1
export CONJUR_CONFIG_MAP=conjur-config
export CONJUR_AUTHENTICATORS=authn,authn-k8s/$AUTHENTICATOR_ID
