############################################################
# KUBERNETES CONFIG 
############################################################
export TEST_APP_NAMESPACE_NAME=newtest
export CONJUR_SERVICEACCOUNT_NAME=conjur-cluster
export AUTHENTICATOR_CLIENT_IMAGE=cyberark/conjur-kubernetes-authenticator:latest
export AUTHENTICATOR_ID=dev
export CONJUR_FOLLOWER_COUNT=1
